*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background: linear-gradient(45deg,red,blue,green,yellow);
    background-image: url(./img/csk1.jpg);
    background-repeat: repeat;
    background-size: cover; 
    
}
.card{

    margin: 10px;
    background-image: url(./img/csk.jpg);
    background-size: cover;
}
